<section class="employee">
        <div class="row">
                <div class="col-lg whitepanel">
                    <h4>Employee </h4>
                  
                    <button type="button" [routerLink]="[ '/employeeform']" class="btn btn-success">Add Employee</button>
                </div>
            </div>
            
            <div class="row   mt-5">
                <div class="col-lg emp-table whitepanel">
<h4 class="my-2">Employee List</h4>
             <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped mt-5">
                 <thead class="tablehead">
                     <tr>
                         <th>Full Name</th>
                         <th>Job Title</th>
                         <th>Email</th>
                         <th>Phone Number</th>
                         <th>Status</th>
                         <th>Date</th>
                         <th></th>
                         <th></th>
                         <th></th>
                     </tr>
                 </thead>
                 <tbody>
                    
                     <tr *ngFor="let item of EmpList">
                         <td scope="row">{{item.firstName}} {{item.lastName}}</td>
                         <td>{{item.designation.jobTitle}}</td>

                         <td>{{item.email}}</td>
                         <td>{{item.phoneNumber}}</td>
                         <td>{{item.status}}</td>
                         <td>{{item.createdTime}}</td>
                         <td> <button type="submit"  [routerLink]="[ '/employee/', item.id ]"  class="btn btn-outline-primary">Detail</button></td>
                         <td> <button type="submit"  [routerLink]="[ '/updateemployee/', item.id ]"  class="btn btn-outline-success">Update</button></td>
                         <td> <button type="submit"  (click)="deleteEmployee(item.id)"  class="btn btn-outline-danger">Delete</button></td>
                        
                     </tr>
                    
                 </tbody>
             </table>


                </div>
            </div>
</section>