<div class="row  whitepanel mt-5">
    <div class="col-lg">
      <div class="row">
          <div class="col-lg tablehead">
                <h4 >Personel Details</h4>
          </div>
      </div>
        <div class="row ">
            <div class="col-lg-2  std-txt">
                <h5>First Name :</h5>
            </div>
            <div class="col-lg-3">{{EmpDetail.firstName}} </div>
            <div class="col-lg-2  std-txt">
                <h5>Employee Staus:</h5>
            </div>
            <div class="col-lg-3">{{EmpDetail.status}} </div>
        </div>

        <div class="row  ">
            <div class="col-lg-2  std-txt">
                <h5>Last Name :</h5>
            </div>
            <div class="col-lg-3">{{EmpDetail.lastName}} </div>
        </div>


        <div class="row  ">
                <div class="col-lg-2  std-txt">
                    <h5>Job Title :</h5>
                </div>
                <div class="col-lg-3">{{EmpDetail.firstName}} </div>
            </div>
            <div class="row  ">
                <div class="col-lg-2  std-txt">
                    <h5>Email :</h5>
                </div>
                <div class="col-lg-3">{{EmpDetail.email}} </div>
            </div>
            <div class="row  ">
                <div class="col-lg-2  std-txt">
                    <h5>Phone :</h5>
                </div>
                <div class="col-lg-3">{{EmpDetail.phoneNumber}} </div>
            </div>
            <div class="row  ">
                <div class="col-lg-2  std-txt">
                    <h5>NI Number :</h5>
                </div>
                <div class="col-lg-3">{{EmpDetail.niNumber}} </div>
            </div>
            <div class="row  ">
                <div class="col-lg-2  std-txt">
                    <h5>Gender :</h5>
                </div>
                <div class="col-lg-3">{{EmpDetail.gender}} </div>
            </div>
            <div class="row  ">
                <div class="col-lg-2  std-txt">
                    <h5>D.O.B :</h5>
                </div>
                <div class="col-lg-3">{{EmpDetail.dateofBirth}} </div>
            </div>
            <div class="row  ">
                <div class="col-lg-2  std-txt">
                    <h5>Marital Staus :</h5>
                </div>
                <div class="col-lg-3">{{EmpDetail.maritalStatus}} </div>
            </div>
            


    </div>
</div>



<div class="row whitepanel mt-5">
    <div class="col-lg ">
        <div class="row">
            <div class="col-lg tablehead">
                    <h4>Address</h4>
            </div>
        </div>
       
            <div class="row  ">
                    <div class="col-lg-2  std-txt">
                        <h5>Home Address :</h5>
                    </div>
                    <div class="col-lg-3">{{EmpDetail.homeAddress}} </div>
                </div>
                <div class="row  ">
                    <div class="col-lg-2  std-txt">
                        <h5>City :</h5>
                    </div>
                    <div class="col-lg-3">{{EmpDetail.city}} </div>
                </div>
                <div class="row  ">
                    <div class="col-lg-2  std-txt">
                        <h5>Town :</h5>
                    </div>
                    <div class="col-lg-3">{{EmpDetail.town}} </div>
                </div>
                <div class="row  ">
                    <div class="col-lg-2  std-txt">
                        <h5>Post Code :</h5>
                    </div>
                    <div class="col-lg-3">{{EmpDetail.postCode}} </div>
                </div>
    
    
    </div>
</div>



<div class="row whitepanel mt-5">
    <div class="col-lg">
            <div class="row">
                <div class="col-lg tablehead">
                        <h4>Employee Details</h4>
                </div>
            </div>

        
<div class="row  "> 
        <div class="col-lg-2  std-txt">
            <h5>Employee Type :</h5>
        </div>
        <div class="col-lg-3">{{EmpDetail.employeeType}} </div>
    </div>
    <div class="row  ">
        <div class="col-lg-2  std-txt">
            <h5>Date of Join :</h5>
        </div>
        <div class="col-lg-3">{{EmpDetail.dateofJoin}} </div>
    </div>
    <div class="row  ">
        <div class="col-lg-2  std-txt">
            <h5>Mode of Recruitment :</h5>
        </div>
        <div class="col-lg-3">{{EmpDetail.modeofRecruitment}} </div>
    </div>
    
    <div class="row  ">
        <div class="col-lg-2  std-txt">
            <h5>Education :</h5>
        </div>
        <div class="col-lg-3">{{EmpDetail.education}} </div>
    </div>
    <div class="row  ">
        <div class="col-lg-2  std-txt">
            <h5>Experience :</h5>
        </div>
        <div class="col-lg-3">{{EmpDetail.experience}} </div>
    </div>
    <div class="row  ">
        <div class="col-lg-2  std-txt">
            <h5>Created Time :</h5>
        </div>
        <div class="col-lg-3">{{EmpDetail.createdTime}} </div>
    </div>
    
    
    
    

    </div>
</div>

<div class="row whitepanel">
    <div class="col-lg">
            <div class="row">
                    <div class="col-lg tablehead">
                            <h4>Attendance</h4>
                    </div>
                </div>
            <table class="table table-stripped">
                    <thead>
                        
                        <th>Date</th>
                        <th>Type</th>
                        <th>Description</th>
                
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of EmpDetail.attendances">
                            <td>{{item.date|date:'fullDate' }}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.description}}</td>
                            
                        </tr>
                    </tbody>
                </table>
                
    </div>
</div>



