<div class="sidebar">
<h4>Dashboard</h4>
<ul class="list-group">
  <div class="list-me">
     <div class="list-item">
            <div class="sidebaritem-txt">
                    <i class="fa fa-tasks fa3x"></i>
                    Human Resource
            </div>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
     </div>

        <div class="nested-list">
            <ul>
               
               <li> <a [routerLink]="[ '/employee']">Employee</a> </li>
                <li><a [routerLink]="[ '/department']">Department</a></li>
                <li><a [routerLink]="[ '/designation']">Designation</a></li>
                

               
            </ul>
        </div>
  </div>  

</ul>


</div>